* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Georgia, "Times New Roman", serif;
}

@font-face {
  font-family: Norse;
  src: url(./fonts/Norse-Bold.otf);
}

.signup-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F9FAFB;
  width: 100%;
}

p {
  padding-left: 60px;
  margin: 0;
  font-size: 1.5rem;
  width: 700px;
}

p:last-of-type {
  margin-top: 22px;
}

p:last-of-type + div {
  width: 100%;
}

form {
  margin-top: 32px;
  padding-left: 60px;
  background-color: white;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  column-gap: 56px;;
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  margin-bottom: 24px;
  padding-top: 24px;
  font-size: 32px;
}

input {
  margin-bottom: 24px;
  padding-right: 48px;
  width: 250px;
}

label, input {
  display: block;
}

button {
  visibility: hidden;
}

.login {
  color: rgb(6, 71, 6);
  font-weight: bold;;
  text-decoration: none;
}

.bg-image {
  height: 100vh;
}

.image-area{
  position: relative;
}

.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  top: 25%;
  width: 100%;
  font-family: Norse, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  height: 125px;
}

.credit {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}

.credit, .credit > a {
  color: rgb(255, 255,255, 0.8);
  text-decoration: none;
}

.odin-logo {
  height: 100px;
  width: auto;
}