body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Arial;
}

@font-face {
  font-family: Norse;
  src: url(./fonts/Norse-Bold.otf);
}

.signup-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F9FAFB;
  width: 100%;
}

p {
  padding-left: 60px;
  margin: 0;
  font-size: 1.5rem;
  width: 750px;
}

.signup-text p {
  font-weight: bold;
}

p:last-of-type {
  margin-top: 22px;
}

label + p {
  font-size: 18px;
}

form {
  margin-top: 32px;
  padding-left: 60px;
  background-color: white;
  box-shadow: rgb(167, 167, 167) 10px 1px 12px -2px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  column-gap: 56px;;
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  margin-bottom: 24px;
  padding-top: 24px;
  font-size: 32px;
}

input {
  margin: 0px 48px 24px 0;
  padding: 8px;
  width: 250px;
  border-radius: 2px;
  border: #E5E7EB solid 2px;
  font-size: 18px;
}

input:focus {
  outline: none;
  border: rgb(20, 128, 250) solid 2px;
  box-shadow: rgb(167, 167, 167) 1px 3px 10px;
}

input:hover {
  border-color: #cacccf;
}

label, input {
  display: block;
}

label:first-child {
font-size: 12px;
font-weight: bold;
color: #252F3C;
padding-left: 1px;
}

input[type="password"]:invalid {
  border-color: red;
}

button {
  visibility: hidden;
}

.button-label {
  background-color: #596D48;
  width: 220px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 12px 0px;
  margin-left: 60px;
  margin-top: 40px;
  border-radius: 8px;
}

.button-label:hover {
  background-color: #72865f;
}

.login {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}

.login:hover {
  color: #72865f;
}

.bg-image {
  height: 100vh;
}

.image-area{
  position: relative;
}

.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  top: 25%;
  width: 100%;
  font-family: Norse, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  height: 125px;
}

.credit {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}

.credit, .credit > a {
  color: rgb(255, 255,255, 0.8);
  text-decoration: none;
}

.odin-logo {
  height: 100px;
  width: auto;
}